<% if object.errors.any? %>
  <div class="errors alert alert-danger pt-3 pb-2" role="alert">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><h6><%= message %></h6></li>
      <% end %>
    </ul>
  </div>
<% end %>
