<div class="container-fluid custom-navbar">
  <div>
    <ul class="nav">
      <% I18n.available_locales.each do |locale| %>
        <li class="nav-item">
          <%= link_to locale_to_flag(locale), url_for(locale: locale), class: 'nav-link', style: "font-size: 18px; opacity: #{locale == I18n.locale ? '1' : '0.3'};" %>
        </li>
      <% end %>
    </ul>
  </div>
    <ul class="nav">
      <% if authenticated? %>
        <li class="nav-item dropdown-center me-3">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= t('.hello') %>, <%= Current.user.name.present? ? Current.user.name : Current.user.email_address %>!</a>
          <ul class="dropdown-menu">
            <li><%= link_to t('.log_out'), session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
