.flight-card {
  background: rgba(whitesmoke, 0.8);
  border-radius: 25px;
  box-shadow: 2px 2px 4px gray;
  overflow: hidden;
  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .map-icon {
    color: $primary;
    font-size: 20px;
  }
  .aircraft-icon {
    color: $info;
    font-size: 20px;
  }
  h4 {
    color: $primary;
  }
  p {
    font-size: 14px;
    font-weight: 500;
  }

  @media (max-width: 576px) {
    img {
      width: 20px;
      height: 20px;
    }
    .aircraft-icon, .map-icon {
      font-size: 12px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 10px;
    }
  }
}
