.flight-card {
  background: rgba(whitesmoke, 0.8);
  border-radius: 25px;
  box-shadow: 2px 2px 4px gray;
  overflow: hidden;
  img {
    width: 75px;
    height: 50px;
    border-radius: 5px;
  }
  h4 {
    color: $primary;
  }
  .airport-time-info {
    p {
      color: $secondary;
      font-size: 14px;
      font-weight: 400;
    }
  }
  i {
    color: $primary;
  }
  .flight-number-info {
    p {
      color: $secondary;
      font-size: 12px;
      font-weight: bold;
    }
  }
  @media (max-width: 767px) {
    img {
      width: 60px;
      height: 40px;
      border-radius: 5px;
    }
    h4 {
      font-size: 20px;
    }
  }

  @media (max-width: 576px) {
    .departure-info, .flight-number-info {
      margin-bottom: 1rem;
    }
  }
}
