.stats {
  background: rgba(white,0.7);
  border: 1px solid $primary;
  border-radius: 5px;
  .stat-card {
    background: rgba(whitesmoke, 0.8);
    border-radius: 25px;
    box-shadow: 2px 2px 4px gray;
    overflow: hidden;
    .card-row:last-child {
      border-bottom: none !important;
    }
    h4 {
      color: $primary;
    }
    p {
      font-size: 14px;
      font-weight: 500;
    }
    img {
      width: 24px;
      height: 16px;
      border-radius: 5px;
      object-fit: contain;
    }
    .aircraft-icon {
      color: $info;
      font-size: 14px;
    }
    @media (max-width: 576px) {
      h4 {
        font-size: 16px;
      }
      p {
        font-size: 10px;
      }
      img {
        width: 18px;
        height: 12px;
      }
      .aircraft-icon {
        font-size: 10px;
      }
    }
  }
}
